/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/contacts/style.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.text {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: white;
}

.styleGrid {
  background-color: lightblue;
  border-radius: 12px;
  padding: 32px;
}

