.spanHeader {
  background: #642ab5;
}

.borderCard {
  border: 2px solid #fff;
  color: #fff;
  padding: 40px;
  @media (max-width: 510px) {
    padding: 40px 20px;
  }
}

.littleTitle {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.03em;
  opacity: 0.4;
  max-width: 320px;
  display: block;
}
