@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto';
  scrollbar-width: thin;
  scrollbar-color: #53abde #293037;
}

.custome-transition {
  transition-duration: 300ms;
}
