@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto';
  scrollbar-width: thin;
  scrollbar-color: #53abde #293037;
}

body {
  background-color: black;
}

.custome-transition {
  transition-duration: 300ms;
}

.h2,
h2 {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
}

.h2 span,
h2 span {
  line-height: 34px;
  color: #29292f;
  background: #89e1f3;
  padding-left: 3px;
}

.h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  z-index: 2;
  max-width: 1360px;
}

.subtitle {
  margin-bottom: 70px;
}

.subtitle .h2 {
  margin-bottom: 12px;
}

p {
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #fff;
}

ul > li > p {
  margin-bottom: 20px;
}

.sizeIcon {
  width: 110px;
  margin-top: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.backgroundFrontend {
  background-color: #8c9efb;
}
.backgroundJava {
  background-color: #f25a22;
}
