/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/globals.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.4.3 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
.container {
  width: 100%;
}
@media (min-width: 363px) {

  .container {
    max-width: 363px;
  }
}
@media (min-width: 418px) {

  .container {
    max-width: 418px;
  }
}
@media (min-width: 440px) {

  .container {
    max-width: 440px;
  }
}
@media (min-width: 510px) {

  .container {
    max-width: 510px;
  }
}
@media (min-width: 769px) {

  .container {
    max-width: 769px;
  }
}
@media (min-width: 872px) {

  .container {
    max-width: 872px;
  }
}
@media (min-width: 1070px) {

  .container {
    max-width: 1070px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom-\[100px\] {
  bottom: 100px;
}
.left-0 {
  left: 0px;
}
.left-\[-217px\] {
  left: -217px;
}
.left-\[15\%\] {
  left: 15%;
}
.right-0 {
  right: 0px;
}
.right-2 {
  right: 0.5rem;
}
.right-\[40px\] {
  right: 40px;
}
.top-0 {
  top: 0px;
}
.top-\[-25px\] {
  top: -25px;
}
.top-\[15\%\] {
  top: 15%;
}
.top-\[70px\] {
  top: 70px;
}
.z-20 {
  z-index: 20;
}
.z-50 {
  z-index: 50;
}
.z-\[10\] {
  z-index: 10;
}
.z-\[2\] {
  z-index: 2;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-end-3 {
  grid-column-end: 3;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.m-auto {
  margin: auto;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my-\[100px\] {
  margin-top: 100px;
  margin-bottom: 100px;
}
.my-\[40px\] {
  margin-top: 40px;
  margin-bottom: 40px;
}
.\!mb-0 {
  margin-bottom: 0px !important;
}
.\!mb-4 {
  margin-bottom: 1rem !important;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-\[100px\] {
  margin-bottom: 100px;
}
.mb-\[120px\] {
  margin-bottom: 120px;
}
.mb-\[128px\] {
  margin-bottom: 128px;
}
.mb-\[145px\] {
  margin-bottom: 145px;
}
.mb-\[17px\] {
  margin-bottom: 17px;
}
.mb-\[20px\] {
  margin-bottom: 20px;
}
.mb-\[45px\] {
  margin-bottom: 45px;
}
.mb-\[50px\] {
  margin-bottom: 50px;
}
.mb-\[64px\] {
  margin-bottom: 64px;
}
.mb-\[6px\] {
  margin-bottom: 6px;
}
.mb-\[80px\] {
  margin-bottom: 80px;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-\[20px\] {
  margin-left: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-28 {
  margin-top: 7rem;
}
.mt-\[145px\] {
  margin-top: 145px;
}
.mt-\[50px\] {
  margin-top: 50px;
}
.mt-\[70px\] {
  margin-top: 70px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.aspect-square {
  aspect-ratio: 1 / 1;
}
.h-\[110px\] {
  height: 110px;
}
.h-\[125px\] {
  height: 125px;
}
.h-\[140px\] {
  height: 140px;
}
.h-\[150px\] {
  height: 150px;
}
.h-\[30px\] {
  height: 30px;
}
.h-\[40px\] {
  height: 40px;
}
.h-\[75px\] {
  height: 75px;
}
.h-full {
  height: 100%;
}
.h-28 {
  height: 7rem;
}
.h-\[50\%\] {
  height: 50%;
}
.h-\[200px\] {
  height: 200px;
}
.h-\[400px\] {
  height: 400px;
}
.h-\[300px\] {
  height: 300px;
}
.h-\[250px\] {
  height: 250px;
}
.min-h-screen {
  min-height: 100vh;
}
.w-\[110px\] {
  width: 110px;
}
.w-\[140px\] {
  width: 140px;
}
.w-\[160px\] {
  width: 160px;
}
.w-\[210px\] {
  width: 210px;
}
.w-\[293px\] {
  width: 293px;
}
.w-\[30px\] {
  width: 30px;
}
.w-\[40px\] {
  width: 40px;
}
.w-\[63\%\] {
  width: 63%;
}
.w-\[64px\] {
  width: 64px;
}
.w-\[calc\(100\%-160px\)\] {
  width: calc(100% - 160px);
}
.w-full {
  width: 100%;
}
.max-w-\[1000px\] {
  max-width: 1000px;
}
.max-w-\[1240px\] {
  max-width: 1240px;
}
.max-w-\[1300px\] {
  max-width: 1300px;
}
.max-w-\[1360px\] {
  max-width: 1360px;
}
.max-w-\[160px\] {
  max-width: 160px;
}
.max-w-\[290px\] {
  max-width: 290px;
}
.max-w-\[775px\] {
  max-width: 775px;
}
.max-w-full {
  max-width: 100%;
}
.grow {
  flex-grow: 1;
}
.cursor-pointer {
  cursor: pointer;
}
.list-none {
  list-style-type: none;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.gap-24 {
  gap: 6rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-\[10px\] {
  gap: 10px;
}
.gap-\[14px\] {
  gap: 14px;
}
.gap-\[30px\] {
  gap: 30px;
}
.gap-\[48px\] {
  gap: 48px;
}
.gap-\[60px\] {
  gap: 60px;
}
.gap-x-11 {
  -moz-column-gap: 2.75rem;
       column-gap: 2.75rem;
}
.gap-x-14 {
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
}
.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.gap-x-40 {
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}
.gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.gap-x-\[25px\] {
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.gap-y-10 {
  row-gap: 2.5rem;
}
.gap-y-28 {
  row-gap: 7rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-y-5 {
  row-gap: 1.25rem;
}
.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.space-y-\[5px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(5px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5px * var(--tw-space-y-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-\[30px\] {
  border-radius: 30px;
}
.rounded-\[50\%\] {
  border-radius: 50%;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.border-2 {
  border-width: 2px;
}
.border-\[2px\] {
  border-width: 2px;
}
.border-t-\[1px\] {
  border-top-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.bg-\[\#001529\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 21 41 / var(--tw-bg-opacity));
}
.bg-\[\#1C2755\] {
  --tw-bg-opacity: 1;
  background-color: rgb(28 39 85 / var(--tw-bg-opacity));
}
.bg-\[\#274916\] {
  --tw-bg-opacity: 1;
  background-color: rgb(39 73 22 / var(--tw-bg-opacity));
}
.bg-\[\#434343\] {
  --tw-bg-opacity: 1;
  background-color: rgb(67 67 67 / var(--tw-bg-opacity));
}
.bg-\[\#642ab5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(100 42 181 / var(--tw-bg-opacity));
}
.bg-\[\#89e1f3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(137 225 243 / var(--tw-bg-opacity));
}
.bg-\[\#92c29c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(146 194 156 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}
.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-10 {
  padding: 2.5rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-\[10px\] {
  padding: 10px;
}
.p-\[25px\] {
  padding: 25px;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-\[27px\] {
  padding-left: 27px;
  padding-right: 27px;
}
.px-\[32px\] {
  padding-left: 32px;
  padding-right: 32px;
}
.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}
.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-\[9px\] {
  padding-top: 9px;
  padding-bottom: 9px;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pb-\[263px\] {
  padding-bottom: 263px;
}
.pb-\[35px\] {
  padding-bottom: 35px;
}
.pb-\[45px\] {
  padding-bottom: 45px;
}
.pb-\[50px\] {
  padding-bottom: 50px;
}
.pb-\[80px\] {
  padding-bottom: 80px;
}
.pl-10 {
  padding-left: 2.5rem;
}
.pt-\[200px\] {
  padding-top: 200px;
}
.pt-\[30px\] {
  padding-top: 30px;
}
.pt-\[35px\] {
  padding-top: 35px;
}
.pt-\[50px\] {
  padding-top: 50px;
}
.pt-\[70px\] {
  padding-top: 70px;
}
.pt-\[80px\] {
  padding-top: 80px;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-\[12px\] {
  font-size: 12px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-\[23px\] {
  font-size: 23px;
}
.text-\[24px\] {
  font-size: 24px;
}
.text-\[25px\] {
  font-size: 25px;
}
.text-\[26px\] {
  font-size: 26px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-\[38px\] {
  font-size: 38px;
}
.text-\[60px\] {
  font-size: 60px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-\[40px\] {
  font-size: 40px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-\[35px\] {
  font-size: 35px;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-\[1\.2\] {
  line-height: 1.2;
}
.leading-\[1\.4\] {
  line-height: 1.4;
}
.leading-\[110\%\] {
  line-height: 110%;
}
.leading-\[140\%\] {
  line-height: 140%;
}
.tracking-\[-\.01em\] {
  letter-spacing: -.01em;
}
.tracking-\[-\.02em\] {
  letter-spacing: -.02em;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.text-\[\#516fe4\] {
  --tw-text-opacity: 1;
  color: rgb(81 111 228 / var(--tw-text-opacity));
}
.text-\[\#52C41A\] {
  --tw-text-opacity: 1;
  color: rgb(82 196 26 / var(--tw-text-opacity));
}
.text-\[\#642ab5\] {
  --tw-text-opacity: 1;
  color: rgb(100 42 181 / var(--tw-text-opacity));
}
.text-\[\#a173e2\] {
  --tw-text-opacity: 1;
  color: rgb(161 115 226 / var(--tw-text-opacity));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.opacity-60 {
  opacity: 0.6;
}
.backdrop-opacity-0 {
  --tw-backdrop-opacity: opacity(0);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

* {
  font-family: 'Roboto';
  scrollbar-width: thin;
  scrollbar-color: #7f52bf #293037;
}

body {
  background-color: black;
}

.custome-transition {
  transition-duration: 300ms;
}

.h2,
h2 {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
}

.h2 span,
h2 span {
  line-height: 34px;
  color: #000;
  background: #7f52bf;
  margin-right: 5px;
}

.h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  z-index: 2;
  max-width: 1360px;
}

.subtitle {
  margin-bottom: 70px;
}

.subtitle .h2 {
  margin-bottom: 12px;
}

p {
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #fff;
}

ul > li > p {
  margin-bottom: 20px;
}

.sizeIcon {
  width: 110px;
  margin-top: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.backgroundAnalytics {
  background-color: #8c9efb;
}
.backgroundJava {
  background-color: #f25a22;
}
.hover\:border-\[\#642ab5\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(100 42 181 / var(--tw-border-opacity));
}
.hover\:bg-\[\#642ab5\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(100 42 181 / var(--tw-bg-opacity));
}
.hover\:bg-\[\#854dd3\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(133 77 211 / var(--tw-bg-opacity));
}
.hover\:bg-blue-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}
.hover\:text-\[\#a173e2\]:hover {
  --tw-text-opacity: 1;
  color: rgb(161 115 226 / var(--tw-text-opacity));
}
.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.hover\:text-blue-400:hover {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}
.hover\:opacity-100:hover {
  opacity: 1;
}
.group:hover .group-hover\:ml-\[8px\] {
  margin-left: 8px;
}
@media not all and (min-width: 1070px) {

  .max-lg\:ml-\[100px\] {
    margin-left: 100px;
  }

  .max-lg\:mt-\[0px\] {
    margin-top: 0px;
  }

  .max-lg\:grid {
    display: grid;
  }

  .max-lg\:h-\[68px\] {
    height: 68px;
  }

  .max-lg\:h-\[90px\] {
    height: 90px;
  }

  .max-lg\:w-\[280px\] {
    width: 280px;
  }

  .max-lg\:w-\[90px\] {
    width: 90px;
  }

  .max-lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .max-lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .max-lg\:flex-col {
    flex-direction: column;
  }

  .max-lg\:gap-14 {
    gap: 3.5rem;
  }

  .max-lg\:gap-x-16 {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }

  .max-lg\:gap-y-12 {
    row-gap: 3rem;
  }

  .max-lg\:gap-y-\[25px\] {
    row-gap: 25px;
  }

  .max-lg\:rounded-none {
    border-radius: 0px;
  }

  .max-lg\:p-0 {
    padding: 0px;
  }

  .max-lg\:p-\[8px\] {
    padding: 8px;
  }

  .max-lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .max-lg\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .max-lg\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .max-lg\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .max-lg\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .max-lg\:pt-\[120px\] {
    padding-top: 120px;
  }

  .max-lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .max-lg\:text-\[18px\] {
    font-size: 18px;
  }

  .max-lg\:text-\[20px\] {
    font-size: 20px;
  }

  .max-lg\:text-\[21px\] {
    font-size: 21px;
  }

  .max-lg\:text-\[26px\] {
    font-size: 26px;
  }

  .max-lg\:text-\[27px\] {
    font-size: 27px;
  }

  .max-lg\:text-\[28px\] {
    font-size: 28px;
  }

  .max-lg\:text-\[33px\] {
    font-size: 33px;
  }

  .max-lg\:text-\[34px\] {
    font-size: 34px;
  }

  .max-lg\:text-\[45px\] {
    font-size: 45px;
  }

  .max-lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .max-lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .max-lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media not all and (min-width: 872px) {

  .max-g\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .max-g\:mt-\[-10px\] {
    margin-top: -10px;
  }

  .max-g\:mt-\[25px\] {
    margin-top: 25px;
  }

  .max-g\:grid {
    display: grid;
  }

  .max-g\:h-\[160px\] {
    height: 160px;
  }

  .max-g\:h-\[650px\] {
    height: 650px;
  }

  .max-g\:h-\[150px\] {
    height: 150px;
  }

  .max-g\:w-\[120px\] {
    width: 120px;
  }

  .max-g\:w-\[160px\] {
    width: 160px;
  }

  .max-g\:w-\[900px\] {
    width: 900px;
  }

  .max-g\:w-\[calc\(100\%-180px\)\] {
    width: calc(100% - 180px);
  }

  .max-g\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .max-g\:place-items-center {
    place-items: center;
  }

  .max-g\:justify-evenly {
    justify-content: space-evenly;
  }

  .max-g\:gap-3 {
    gap: 0.75rem;
  }

  .max-g\:gap-8 {
    gap: 2rem;
  }

  .max-g\:gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .max-g\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .max-g\:py-\[26px\] {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .max-g\:pb-\[40px\] {
    padding-bottom: 40px;
  }

  .max-g\:text-\[16px\] {
    font-size: 16px;
  }

  .max-g\:text-\[18px\] {
    font-size: 18px;
  }

  .max-g\:text-\[20px\] {
    font-size: 20px;
  }

  .max-g\:text-\[23px\] {
    font-size: 23px;
  }

  .max-g\:text-\[26px\] {
    font-size: 26px;
  }

  .max-g\:text-\[27px\] {
    font-size: 27px;
  }

  .max-g\:text-\[45px\] {
    font-size: 45px;
  }

  .max-g\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .max-g\:font-medium {
    font-weight: 500;
  }

  .max-g\:leading-8 {
    line-height: 2rem;
  }
}
@media not all and (min-width: 769px) {

  .max-md\:order-last {
    order: 9999;
  }

  .max-md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .max-md\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .max-md\:mb-\[40px\] {
    margin-bottom: 40px;
  }

  .max-md\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .max-md\:ml-\[40px\] {
    margin-left: 40px;
  }

  .max-md\:ml-\[50px\] {
    margin-left: 50px;
  }

  .max-md\:mt-\[-70px\] {
    margin-top: -70px;
  }

  .max-md\:hidden {
    display: none;
  }

  .max-md\:h-\[130px\] {
    height: 130px;
  }

  .max-md\:h-\[190px\] {
    height: 190px;
  }

  .max-md\:h-\[30px\] {
    height: 30px;
  }

  .max-md\:h-\[70px\] {
    height: 70px;
  }

  .max-md\:h-\[90px\] {
    height: 90px;
  }

  .max-md\:h-\[95px\] {
    height: 95px;
  }

  .max-md\:w-\[130px\] {
    width: 130px;
  }

  .max-md\:w-\[190px\] {
    width: 190px;
  }

  .max-md\:w-\[270px\] {
    width: 270px;
  }

  .max-md\:w-\[280px\] {
    width: 280px;
  }

  .max-md\:w-\[95px\] {
    width: 95px;
  }

  .max-md\:w-full {
    width: 100%;
  }

  .max-md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .max-md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .max-md\:flex-col {
    flex-direction: column;
  }

  .max-md\:gap-7 {
    gap: 1.75rem;
  }

  .max-md\:gap-\[25px\] {
    gap: 25px;
  }

  .max-md\:gap-6 {
    gap: 1.5rem;
  }

  .max-md\:gap-x-\[40px\] {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }

  .max-md\:gap-y-8 {
    row-gap: 2rem;
  }

  .max-md\:p-\[6px\] {
    padding: 6px;
  }

  .max-md\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .max-md\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .max-md\:pt-\[150px\] {
    padding-top: 150px;
  }

  .max-md\:pt-\[190px\] {
    padding-top: 190px;
  }

  .max-md\:text-left {
    text-align: left;
  }

  .max-md\:text-center {
    text-align: center;
  }

  .max-md\:text-\[18px\] {
    font-size: 18px;
  }

  .max-md\:text-\[22px\] {
    font-size: 22px;
  }

  .max-md\:text-\[23px\] {
    font-size: 23px;
  }

  .max-md\:text-\[25px\] {
    font-size: 25px;
  }

  .max-md\:text-\[26px\] {
    font-size: 26px;
  }

  .max-md\:text-\[27px\] {
    font-size: 27px;
  }

  .max-md\:text-\[28px\] {
    font-size: 28px;
  }

  .max-md\:text-\[30px\] {
    font-size: 30px;
  }

  .max-md\:text-\[37px\] {
    font-size: 37px;
  }

  .max-md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .max-md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .max-md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .max-md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media not all and (min-width: 510px) {

  .max-sm\:right-\[20px\] {
    right: 20px;
  }

  .max-sm\:top-\[65px\] {
    top: 65px;
  }

  .max-sm\:mb-\[13px\] {
    margin-bottom: 13px;
  }

  .max-sm\:ml-\[35px\] {
    margin-left: 35px;
  }

  .max-sm\:ml-\[70px\] {
    margin-left: 70px;
  }

  .max-sm\:ml-\[7px\] {
    margin-left: 7px;
  }

  .max-sm\:mt-24 {
    margin-top: 6rem;
  }

  .max-sm\:mt-\[-10px\] {
    margin-top: -10px;
  }

  .max-sm\:mt-\[100px\] {
    margin-top: 100px;
  }

  .max-sm\:mt-\[15px\] {
    margin-top: 15px;
  }

  .max-sm\:mt-\[20px\] {
    margin-top: 20px;
  }

  .max-sm\:mt-\[30px\] {
    margin-top: 30px;
  }

  .max-sm\:flex {
    display: flex;
  }

  .max-sm\:h-\[110px\] {
    height: 110px;
  }

  .max-sm\:h-\[150px\] {
    height: 150px;
  }

  .max-sm\:h-\[160px\] {
    height: 160px;
  }

  .max-sm\:h-\[23px\] {
    height: 23px;
  }

  .max-sm\:h-\[35px\] {
    height: 35px;
  }

  .max-sm\:h-\[450px\] {
    height: 450px;
  }

  .max-sm\:w-\[110px\] {
    width: 110px;
  }

  .max-sm\:w-\[160px\] {
    width: 160px;
  }

  .max-sm\:w-\[190px\] {
    width: 190px;
  }

  .max-sm\:w-\[270px\] {
    width: 270px;
  }

  .max-sm\:w-\[33px\] {
    width: 33px;
  }

  .max-sm\:w-\[35px\] {
    width: 35px;
  }

  .max-sm\:w-\[600px\] {
    width: 600px;
  }

  .max-sm\:w-\[70px\] {
    width: 70px;
  }

  .max-sm\:w-\[80px\] {
    width: 80px;
  }

  .max-sm\:w-\[85px\] {
    width: 85px;
  }

  .max-sm\:w-full {
    width: 100%;
  }

  .max-sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .max-sm\:flex-col {
    flex-direction: column;
  }

  .max-sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .max-sm\:items-start {
    align-items: flex-start;
  }

  .max-sm\:justify-evenly {
    justify-content: space-evenly;
  }

  .max-sm\:gap-y-7 {
    row-gap: 1.75rem;
  }

  .max-sm\:gap-y-\[15px\] {
    row-gap: 15px;
  }

  .max-sm\:p-7 {
    padding: 1.75rem;
  }

  .max-sm\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .max-sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .max-sm\:px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .max-sm\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .max-sm\:px-\[24px\] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .max-sm\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .max-sm\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .max-sm\:py-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .max-sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .max-sm\:pb-\[30px\] {
    padding-bottom: 30px;
  }

  .max-sm\:pt-\[200px\] {
    padding-top: 200px;
  }

  .max-sm\:pt-\[30px\] {
    padding-top: 30px;
  }

  .max-sm\:text-\[14px\] {
    font-size: 14px;
  }

  .max-sm\:text-\[15px\] {
    font-size: 15px;
  }

  .max-sm\:text-\[18px\] {
    font-size: 18px;
  }

  .max-sm\:text-\[20px\] {
    font-size: 20px;
  }

  .max-sm\:text-\[21px\] {
    font-size: 21px;
  }

  .max-sm\:text-\[23px\] {
    font-size: 23px;
  }

  .max-sm\:text-\[24px\] {
    font-size: 24px;
  }

  .max-sm\:text-\[25px\] {
    font-size: 25px;
  }

  .max-sm\:text-\[30px\] {
    font-size: 30px;
  }

  .max-sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .max-sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .max-sm\:font-medium {
    font-weight: 500;
  }

  .max-sm\:leading-4 {
    line-height: 1rem;
  }

  .max-sm\:leading-6 {
    line-height: 1.5rem;
  }

  .max-sm\:leading-\[1\] {
    line-height: 1;
  }

  .group:has(li) .group-has-\[li\]\:max-sm\:text-\[15px\] {
    font-size: 15px;
  }
}
@media not all and (min-width: 440px) {

  .max-m\:ml-\[0px\] {
    margin-left: 0px;
  }

  .max-m\:ml-\[100px\] {
    margin-left: 100px;
  }

  .max-m\:mt-\[-30px\] {
    margin-top: -30px;
  }

  .max-m\:h-\[430px\] {
    height: 430px;
  }

  .max-m\:h-\[50px\] {
    height: 50px;
  }

  .max-m\:h-\[95px\] {
    height: 95px;
  }

  .max-m\:w-\[170px\] {
    width: 170px;
  }

  .max-m\:w-\[510px\] {
    width: 510px;
  }

  .max-m\:w-\[75px\] {
    width: 75px;
  }

  .max-m\:w-\[95px\] {
    width: 95px;
  }

  .max-m\:w-\[calc\(100\%-195px\)\] {
    width: calc(100% - 195px);
  }

  .max-m\:p-\[15px\] {
    padding: 15px;
  }

  .max-m\:px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .max-m\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .max-m\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .max-m\:text-\[17px\] {
    font-size: 17px;
  }

  .max-m\:text-\[20px\] {
    font-size: 20px;
  }

  .max-m\:text-\[30px\] {
    font-size: 30px;
  }

  .max-m\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media not all and (min-width: 418px) {

  .max-ml\:mx-\[-20px\] {
    margin-left: -20px;
    margin-right: -20px;
  }

  .max-ml\:h-\[430px\] {
    height: 430px;
  }

  .max-ml\:gap-x-\[0px\] {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .max-ml\:p-\[4px\] {
    padding: 4px;
  }

  .max-ml\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .max-ml\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .max-ml\:px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .max-ml\:text-\[15px\] {
    font-size: 15px;
  }

  .max-ml\:text-\[16px\] {
    font-size: 16px;
  }

  .max-ml\:text-\[21px\] {
    font-size: 21px;
  }

  .max-ml\:text-\[25px\] {
    font-size: 25px;
  }

  .max-ml\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .max-ml\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .max-ml\:text-\[22px\] {
    font-size: 22px;
  }

  .max-ml\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .max-ml\:text-\[26px\] {
    font-size: 26px;
  }
}
@media not all and (min-width: 363px) {

  .max-l\:text-\[15px\] {
    font-size: 15px;
  }
}
@media (min-width: 510px) {

  .sm\:\!w-\[50px\] {
    width: 50px !important;
  }

  .sm\:text-\[20px\] {
    font-size: 20px;
  }
}
@media (min-width: 769px) {

  .md\:mt-\[64px\] {
    margin-top: 64px;
  }

  .md\:hidden {
    display: none;
  }

  .md\:leading-10 {
    line-height: 2.5rem;
  }
}
@media (min-width: 1070px) {

  .lg\:mt-\[70px\] {
    margin-top: 70px;
  }
}
@media (min-width: 1279px) {

  .min-\[1279px\]\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .min-\[1279px\]\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {

  .xl\:mt-\[80px\] {
    margin-top: 80px;
  }
}
.\[\&\>\*\:nth-child\(even\)\]\:mb-\[15px\]>*:nth-child(even) {
  margin-bottom: 15px;
}
.\[\&\>\*\:nth-child\(odd\)\]\:font-bold>*:nth-child(odd) {
  font-weight: 700;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/atoms/FixedMenu/SocialMenu/style.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 30px;
  right: 62px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
  transform: rotate(90deg);
  z-index: 50;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/molecules/Footer/FooterLinks/style.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listStyle {
  display: flex;
  flex-direction: column;
  color: gray;
}

.blue {
  background-color: #2787f5;
}
.red {
  background-color: #c4302b;
}
.darkBlue {
  background-color: #0088cc;
}
.white {
  background-color: #ececec;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/molecules/Footer/FooterCompany/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.textStyle {
  font-size: 16px;
  color: gray;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/layouts/modal/style.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.modal-content {
  position: relative;
  border-radius: 25px;
  width: 70%;
  height: 70%;
  background-color: #282c34;
  color: #fff;
  animation-name: animatetop;
  animation-duration: 1.4s;
}

@media (max-width: 872px) {
  .modal-content {
    height: 85%;
  }
}
@media (max-width: 510px) {
  .modal-content {
    width: 85%;
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  display: block;
  color: #f9f6ee;
  margin-top: -12px;
  font-size: 40px;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #642ab5;
}

.close-btn:hover {
  background-color: #7b4dbb;
  transition-duration: 0.7s;
}

.close:hover {
  transform: rotate(180deg);
  transition-duration: 0.7s;
}

.colorAnalytics {
  color: #33b1ff;
}
.colorJava {
  color: #df4549;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/.pnpm/next@14.1.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_sass@1.77.1/node_modules/next/font/google/target.css?{"path":"app\\layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_aaf875';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_aaf875';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_aaf875 {font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';font-style: normal
}

