/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/molecules/Footer/FooterLinks/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.listStyle {
  display: flex;
  flex-direction: column;
  color: gray;
}

.blue {
  background-color: #2787f5;
}
.red {
  background-color: #c4302b;
}
.darkBlue {
  background-color: #0088cc;
}
.white {
  background-color: #ececec;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/molecules/Footer/FooterCompany/style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.textStyle {
  font-size: 16px;
  color: gray;
}

