.styleGrid {
  background-color: #8b5dcc;
  border-radius: 40px;
}

.header1 {
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: black;
}

:is(.paragraph) p {
  color: black;
  font-size: 20px;
  margin-bottom: 5px;
}
