/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/about/style.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.spanHeader {
  line-height: 34px;
  background: #448e9d;
  padding: 0 3px;
}

.borderCard {
  border: 2px solid #fff;
  color: #fff;
  padding: 40px;
  @media (max-width: 510px) {
    padding: 40px 20px;
  }
}

.littleTitle {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.03em;
  opacity: 0.4;
  max-width: 320px;
  display: block;
}

